<h1>#IciC'estGossipWorld</h1>
<h2>#RumeurRumeurRumeur</h2>

<br>

<h2>Profil de <%= @user.first_name %> <%= @user.last_name %></h2>
    
    <table class="table table-sm">
      <% @user.attributes.each do |i| %>
      <tr>
          <th><%= i[0] %></th>
          <td><%= i[1] %></td>
      </tr>
      <% end %>
      </table>
