<div class= "container">

    <h1>#Welcome #IciCestGossipWorld</h1>
    <p>#RumeurRumeurRumeur</p>
    <br>
    <p>#TuTeSentiraCommeChezTaTante</p>
    <br>
    <p>Helloooo le nouveau ou la nouvelle!!!!! Si tu veux t'exprimer, je t'invite à cliquer sur le  lien ci-dessous</p> 
    <p><%= link_to "gossips/new" do%>Let's Talk Babe<%end%></p>
</div>